<section class="backgrounde" id="table_tournaments">
    <h1 class="tournaments-page">Liste des tournois à venir</h1>
    <table>
        <tr>
            <th>Nom Tournoi</th>
            <th>Date du tournoi</th>
            <th class="nb_max_participants">Nombre Max participants</th>
        </tr>
        {{#each tournamentsTable}}
        <tr>
            <td><a href="http://localhost:3000/tournaments/details?id={{this.tournamentId}}"> {{this.uniqueName}} </a>
            </td>
            <td>{{this.dateTournaments}} </td>
            <td>{{this.nbMaxParticipants}} </td>
        </tr>
        {{/each}}
    </table>
</section>
<!--message d'erreurs du lien /tournaments/create si non coach-->
{{#if errorTournamentCreate}}
<section>
    <p class="error-message">{{ errorTournamentCreate}}</p>
</section>

{{/if}}